.bg-image
{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
####### INDUSTRY BACKGROUNS ########
*/

.bg-industry
{
    background-image: url('../images/Smiling\ security\ lady.jpeg');
}

.bg-airport
{
    background-image: url('../images/Airport\ \(1\).png');
}

.bg-Commercial
{
    background-image: url('../images/Commercial 2.jpg');
}

.bg-Logistics
{
    background-image: url('../images/Distribution Logistics.jpg');
}

.bg-Healthcare 
{
    background-image: url('../images/Healthcarev2.png');
}

.bg-Education 
{
    background-image: url('../images/Education3.jpeg');
}

.bg-Residential 
{
    background-image: url('../images/Residential2.jpg');
}

.bg-Construction  
{
    background-image: url('../images/Construction2.jpeg');
}

.bg-Retail   
{
    background-image: url('../images/Retailv2.png');
}

.bg-Manufacturing  
{
    background-image: url('../images/Manufacturing and Industrial.jpg');
}

.bg-Maritime  
{
    background-image: url('../images/Maritime.png');
}

.bg-Government  
{
    background-image: url('../images/Government2.jpg');
} 

/*
####### SERVICES BACKGROUNS ########
*/

.bg-unarmed
{
    background-image: url('../images/Security\ officer\ watching\ camera2.jpeg');
}

.bg-Armed
{
    background-image: url('../images/Armed Security Officer.jpeg');
}

.bg-Mobile
{
    background-image: url('../images/Patrol Vehicle.jpeg');
}

.bg-Concierge
{
    background-image: url('../images/Concierge.jpeg');
}

.bg-securityroom
{
    background-image: url('../images/Security\ room.jpeg');
}

/*
####### Differentiators BACKGROUNS ########
*/

.bg-differentiators
{
    background-image: url('../images/Security\ guard\ with\ flashlight.jpeg');
}

.bg-professional-team
{
    background-image: url('../images/Smiling\ security\ lady.jpeg');
}

