@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');
@import url('industry.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

*
{
    box-sizing: border-box;
}

:root 
{
    --brown:#593521;
    --lightbrown:#ede8e2;
    --maxwdith: 1440px;
}

/* Importing Local fonts */
@font-face 
{
    font-family: ITCBenguiat;
    src: url(../fonts/ITCBenguiatStdMediumCn.OTF);
}

@font-face 
{
    font-family: ttcommons;
    src: url(../fonts/Fontspring-DEMO-tt_commons_pro_condensed_light.otf);
}

@font-face 
{
    font-family: ttcommons-expanded;
    src: url(../fonts/fonts/Fontspring-DEMO-tt_commons_pro_expanded_light.otf);
}



.bg-brown
{
    background-color: var(--brown) !important;
}

.bg-lightbrown
{
    background-color: var(--lightbrown) !important;
    color: var(--brown) !important;
    font-size: 16px;
    line-height: 2.0 !important;
}

hr.line
{
    height:1.5px;
    border-width:0;
    opacity: 1;
    color: var(--brown);
    background-color:var(--brown);
}

.alice
{
    font-family: Alice !important;
}

.logo
{
    height: 84px !important;
    width: 100px !important;
    transition: width 1s, height 1s;
}

.nav-link, .dropdown-item
{
    font-family: Alice !important;
    font-size: 20px;
    transition: font-size 1s;
}

.nav-link
{
    color: white !important;
}

.btn-danger
{
    background-color: var(--brown) !important;
    border: none !important;
}

.navbar
{
    transition:1s ease;
    /* background:transparent !important; */
}

.navbar:hover, .navbar.scrolled
{
    background-color: rgba(255,255,255,0.98) !important;
    color: black !important;
    /* transition: background-color 1s,color 1s; */

}


.swiper-container {
    width: 100%;
    height: 50px;
    overflow: hidden !important;
  }


.navbar:hover .nav-link, .navbar.scrolled .nav-link
{
    color: black !important;
    transition: color 1s;
}

body
{
    font-family: 'ttcommons', sans-serif;
    font-style:normal;
    font-weight:400;
    font-size: 18px;
    line-height: 1.8;
    width: 100% !important;
    margin: auto !important;
    overflow-x: hidden !important;
    color: var(--brown);
 
}

.container, .navbar, .header
{
  max-width: var(--maxwdith);
  margin: auto;
}

.f-heading
{
    font-size: 22px;
    line-height: 1.5;
}

.h-150
{
    min-height: 150px !important;
    max-height: 150px !important;
}

.custoer-logo
{
    min-height: 40px !important;
    max-height: 40px !important;
}
.rounded-20
{
    border-radius: 25% 25%;
}

.bi
{
    font-size: 20px !important;
    margin:9px;
}

.navbar-brand
{
    font-size: 20px !important;
}

header {
    position: relative;
    background-color: transparent;
    height: 850px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    top: 0px !important;
    background-color: white !important;
    transform: translateY(-180px);
  }
  
  header video
  {
    position: relative;
    top: 50%;
     left: 50%;
   /* min-width: 100%;
    min-height: 100%; */
    width: auto;
    height: inherit;
    /* object-fit: fill; */
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .overlay-home
   {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* max-width: var(--maxwdith);
    margin: auto; */
    background-color: black;
    opacity: 0.19;
    z-index: 1;
  }

  header .overlay 
  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.55;
    z-index: 1;
  }


  .header-title
  {
    top: 60%;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    -ms-transform:  translateY(-50%);
    -moz-transform:  translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform:  translateY(-50%);
  }

  .banner-header
  {
    font-size: 50px;
    letter-spacing: 2px;
  }
  .btn-danger
  {
    font-family: 'ITCBenguiat';
    font-size: 24px;
    letter-spacing: 2px;
  }
  .banner-text
  {
    font-size: 22px;
    line-height: 1.4;

  }
.home-industries p
{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}
  

  .header-title h1
  {
    font-size: 50px;
  }
  .header-title p
  {
    font-family: 'ttcommons-expanded';
    font-size: 24px;
    line-height: 2.0;
    font-weight: 100;
  }
 
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  .dropdown-item, dropdown-menu
  {
    border-bottom: 1px solid var(--lightbrown);
    padding: 10px 10px;
    color: var(--brown) !important;
    
  }



.row 
{
    max-width: 1240px !important;
    margin: auto;
}

.t-brown
{
    color: var(--brown) !important;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'ITCBenguiat';
    font-style: normal;
    font-weight: 400;
}

h4,h5,h6
{
    text-decoration: underline;
}


.hr-text {
    line-height: 1em !important;
    position: relative;
    outline: 0;
    border: 0;
    color: var(--brown);
    text-align: center;
    font-family: Alice !important;
    font-size: 32px;
    height: 1.5em;
    opacity: 1;
    &:before {
      content: '';
      background: var(--brown) ; /* linear-gradient(to right, transparent, #818078, transparent) */
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      color: var(--brown);
      background-color: var(--lightbrown) !important;
    }
  }





a.footer-link:link, a.footer-link:hover, a.footer-link:active, a.footer-link:visited
{
    text-decoration: none;
    color: black;
}

a.footer-link:hover
{
    text-decoration: none;
    color: green;
}

a.footer-link-dark:link, a.footer-link-dark:hover, a.footer-link-dark:active, a.footer-link-dark:visited
{
    text-decoration: none;
    color: white;
}

a.footer-link-dark:hover
{
    text-decoration: none;
    color: lime;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}



.accordion-button {
  background-color: #01579b;
  color: white;
  font: 20px Roboto, sans-serif;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed):after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:hover {
  font: 21px Roboto, sans-serif;
}
.accordion-button:not(.collapsed) {
  background-color: #0277bd;
  color: white;
}
.accordion-item {
  background-color: #e1f5fe;
  font: 16px Roboto, sans-serif;
}


@media screen and (max-width: 600px) 
{

    .header-title h1
    {
      font-size: 10vw;
    }
    .header-title p
    {
      font-size: 4.5vw;
    }
   
    .nav-link, .dropdown-item
    {
    font-family: Alice !important;
    font-size: 4.5vw;
    transition: font-size 1s;
    }


  }