
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.accordion-button {
  color: #292929;
  font-family: 'CatchyMager' !important;
  font-synthesis: none;
  font-kerning: none;
  font-variant-ligatures: none;
  font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
  font-family: unset;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;
  white-space: normal;
  font-size: 36px;
  line-height: 49px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;

}

.accordion-button:after  {
   /* position: absolute; */
  /* top: 0;
  right: 0; */
  /* margin-top: calc(1.375rem + 1.5vw);  */
  width: 3.125rem;
  height: 3.125rem; 
  margin-left: auto;
  border: 1px solid #878787;
  border-radius: 50%;
  background-color: #8e0202;
  padding: 1.25rem;
  background-clip: content-box;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out,-o-transform .3s ease-in-out;
  /* -webkit-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5) */

}

.accordion-button:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 2.75rem;
  height: 1px;
  width: 4.125rem;
  background: #878787;
   -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 1s;
  transform-origin: right;

}

.accordion-button:not(.collapsed)::before 
{
  transform: rotate(-90deg) ;
  right: 2.75rem;
  transform-origin: right;
  transition: transform 1s;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  background-color: transparent;
}

.accordion-item {
  border: none;
  border-bottom: 0.5px solid lightgray;
  }

  .accordion-body
  {
    padding-right: 60px !important;
    font-size: 24px;
  }

  .accordion-button:not(.collapsed) {
    color: #292929 !important;
    background-color: transparent;
  }
