
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.content {
  position: relative;
  z-index: 2; /* Ensures content is above the video, which has z-index: -1 */
}

.logo 
{
  width: 75px;
  height: 65px;
}

.nav-link 
{
  font-family: 'Montserrat', sans-serif !important;

}

.nav-link
{
  border: 1px solid transparent !important;
}

.nav-link:hover
{
  border: 1px solid blue;
}

label
{
  margin-bottom: 5px;
  margin-top: 12px;
  color: #735744;
}

body
{
  color: #735744;
}

.btn-danger
{
  background-color:  #735744 !important;
  color: white !important;
}

.btn-danger::placeholder {
  color: rgb(183, 178, 170) !important;
  opacity: 1 !important; /* Firefox */
}

.btn-danger::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(183, 178, 170) !important;
}

/* SelectComponent.css */

.custom-select {
  border: 1px solid #735744 !important; /* Border color */
  background-color: #fff !important; /* Background color */
  padding: 5px !important; /* Padding */
  width: 200px !important; /* Width */
  outline: none !important; /* Remove default focus outline */
}

.custom-select:focus {
  border-color: #735744 !important; /* Border color when focused */
}

.custom-select option {
  background-color: #fff; /* Background color of options */
}

.custom-select option:checked {
  background-color: #735744 !important; /* Background color of selected option */
  color: #fff !important;  /* Text color of selected option */
}

/* Hiding the scrollbar */
.custom-select::-webkit-scrollbar {
  display: none !important; /* Hide scrollbar for Chrome/Safari */
}

.custom-select::-moz-scrollbar {
  display: none !important; /* Hide scrollbar for Firefox */
}
