@font-face {
  font-family: 'CatchyMager';
  src: url('../../public/CatchyMager.ttf') format('truetype');
}

/* styles.css */
.btn-danger {
  background-color: #593521 !important;
  color: white !important;
  border: none !important;
 
}
.rounded
{
  border-radius: 15px !important;
  border: 1px solid #ede8e2 !important;
}
.fixed-width {
  max-width: 250px !important;
  /* border: 1px solid red !important; */
}

.fixed-width-container {
  max-width: 390px !important;
  /* border: 1px solid green !important; */
}

th {
  font-weight: normal !important;
  background-color: #593521 !important;
  color: white !important;
}

/* accordin */

.accordion-button1 {
  color: #292929;
  font-family: 'CatchyMager' !important;
  font-synthesis: none;
  font-kerning: none;
  font-variant-ligatures: none;
  font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
  font-family: unset;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;
  white-space: normal;
  font-size: 36px;
  line-height: 49px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  background-color: transparent !important;

}

.accordion-button1:after  {
   /* position: absolute; */
  /* top: 0;
  right: 0; */
  /* margin-top: calc(1.375rem + 1.5vw);  */
  width: 3.125rem;
  height: 3.125rem; 
  margin-left: auto;
  border: 1px solid #878787;
  border-radius: 50%;
  background-color: #8e0202;
  padding: 1.25rem;
  background-clip: content-box;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out,-o-transform .3s ease-in-out;
  /* -webkit-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5) */
  
}

.accordion-button1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 2.75rem;
  height: 1px;
  width: 4.125rem;
  background: #878787;
   -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.5s;
  transform-origin: right;

}

.accordion-button1:not(.collapsed)::before 
{
  transform: rotate(-90deg) ;
  top: 50%;
  right: 2.79rem;
  transform-origin: right;
  transition: transform 0.5s;
  z-index: 2;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  /* background-color: transparent; */
}

.accordion-item {
  border: none;
  border-bottom: 0.5px solid lightgray;
  border-top: none;
  background-color: transparent !important;
  }

  .accordion-button {
    box-shadow: none !important;
    background-color: transparent !important;
  }

  .accordion-button:focus {
    border-bottom: none !important;
    background-color: transparent !important;
  }

  .accordion-body1
  {
   
    padding-right: 60px !important;
    font-size: 24px;
    background-color: transparent !important;
  }

  .accordion-button:not(.collapsed) {
    color: #292929 !important;
    background-color: transparent;
    background-color: transparent !important;
  }

  .accordion-button1:focus {
    box-shadow: none !important;
    background-color: transparent !important;
  }
/* 
  option:active, option:hover,option:visited, option:focus {
    background-color: #8e0202 !important;
  } */